@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes border-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-border-spin {
  animation: border-spin linear infinite;
}

@keyframes border-beam {
  from {
    stroke-dashoffset: 100;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.animate-border-beam {
  animation: border-beam linear infinite;
}